div{
	display: none;
	margin: 0px;
	height: 100vh;
	background-color: #c0392b;
	text-align: center;
	color: white;
	font-family: sans-serif;
	h2,h3,h1{
		position: relative;
		top: 30vh;
	}
	h1{
		font-size: 300%;
	}
}